{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1> Résultats de votre recherche </h1>
<h3>Nous avons trouvé les resultats pour vous :</h3>
<table>
        {% for post in posts %}
            <div>
               
                <h3>{{ post.title }}</h3>
                <div>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</div>
                <div>
                    <a href="{{ path('app_post_blog_show', {'id': post.id}) }}">Voir le contenu de l'article</a>                  
                </div>
            </div>
        {% else %}
            <div class="text-danger">
                Aucun article disponible pour ces critères de recherche 
            </div>
        {% endfor %}
</table>        

{% endblock %}
