{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<div class="site-section bg-image overlay counter">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-md-7 text-center">
					<div class="block-heading-1">
						<h2 class="text-black text-uppercase section-title">Nos themes</h2>
						<p class="text-black">Par nos thèmes nous arrivons à preter oreille à ce que les membres de notre association attendent de nous.</p>
					</div>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
					
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>{{ category.name }}</td>
							<td>
								<a href="{{ path('app_category_blog_show', {'category': category.name}) }}">Voir la liste des articles</a>
							</td>
						</tr>
					{% else %}
						<div class="text-danger">
							Aucune catégorie disponible
						</div>
					{% endfor %}
				</tbody>
			</table>
         </div>
      </div>      

		{% endblock %}
