{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

 <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7 text-center mb-5 text-center">
            <h2 class="text-black text-uppercase section-title">Notre Blog</h2>
            <p>
              "Bienvenue sur notre blog, l'espace dédié à partager nos initiatives, nos réussites et nos histoires inspirantes, tout en vous tenant informé des dernières nouvelles et événements de notre association."</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images/hero_1_no-text.jpg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Comment investir dans une société d'investissement</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">12 Janvier 2024</span> Par <a href="single.html" class="by">Didier MABA</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et suscipit iste libero neque. Vitae quidem ducimus voluptatibus nemo cum odio ab enim nisi, itaque, libero fuga veritatis culpa quis!</p>
              <p><a href="single.html">Commencer</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images/hero_2_no-text.jpg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">How to Invest In Investing Company</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">18 Janvier 2024</span> Par <a href="single.html" class="by">Didier MABA</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et suscipit iste libero neque. Vitae quidem ducimus voluptatibus nemo cum odio ab enim nisi, itaque, libero fuga veritatis culpa quis!</p>
              <p><a href="single.html">Lire plus</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
