{# {% extends 'base.html.twig' %} #}

{% block title %}
{% endblock %}

{% block blog %}

	{% for category in categories %}
		<a href={{ path('category', {category: category.name} ) }}>{{ category.name }}</a>
	{% endfor %}

	{% for post in posts %}
		<h5>{{ post.title }}</h5>	
	{% endfor %}

	{# {{ dump(posts) }} #}

{% endblock %}
